* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 10px;
}

:root {
    /* colores*/
    --blue-p: #366BFF;
    --blue-s: #7398FF;
    --deepblue: #00268F;
    --grayblue: #394C80;
    --white-w: #F2F2F2;
    --pink: #f1ebff;

    /* Tamaño de fuente */
    --sm: 1.2rem;
    --md: 1.8rem;
    --lg: 2.5rem;
    --xlg: 4rem;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
}

/* seccion header */
.header {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/teclado.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.header__list {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.header__item {
    padding: 1rem;
}

.header__link {
    color: white;
    border-bottom: 0.5rem solid var(--blue-p);
    font-size: var(--md);
}

.header__link:hover,
.header__link:active {
    border-bottom: 0.5rem solid #44bef7;
}

.header__presentacion-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    justify-content: center;
    align-items: center;
}

.header__title {
    position: relative;
    top: -53px;
    text-align: center;
    color: white;
    font-size: var(--xlg);
    padding: 0 10px;
}

.header__title span {
    color: var(--blue-p);
    background-color: #eddbfd;
}

.header__text {
    position: relative;
    bottom: 50px;
    color: white;
    font-size: var(--md);
}

.boton {
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 20px;
    background-color: var(--blue-p);
    position: relative;
    bottom: -17;
}

.boton__link {
    color: white;
    font-size: var(--md);
    font-weight: 700;
}

.boton:hover,
.boton:active {
    background-color: #44bef7;
}


/* Section about-me*/
.main__about {
    width: 100vw;
    height: auto;
    background-color: var(--white-w);
    padding: 100px 0;
}

.main-about__title {
    text-align: center;
    font-size: var(--lg);
    font-weight: bold;
    padding: 0 0 3rem 0;
    color: var(--deepblue);
}

.main-about__text {
    width: 80%;
    margin: 0 auto;
    font-size: var(--md);
    line-height: 1.6;
}


/* Secction my skills */

.main__skills {
    width: 100vw;
    height: auto;
    background: var(--pink);
    padding: 100px 0;
}

.main-skills__title {
    text-align: center;
    font-size: var(--lg);
    font-weight: bold;
    padding: 0 0 3rem 0;
    color: var(--deepblue);
}

.main-skills__img {
    width: 140px;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

.main-skills__img img {
    width: 100%;
}


/* Section porfolio */
.main__portafolio {
    width: 100vw;
    height: auto;
    background-color: var(--white-w);
    padding: 100px 0;
}

.main-portafolio__title {
    text-align: center;
    font-size: var(--lg);
    font-weight: bold;
    padding: 0 0 3rem 0;
    color: var(--deepblue);
}
.main-portafolio__img{
    width: 140px;
    margin: 0 auto;
    padding: 2.5rem;
}

.main-portafolio__img img{
    width: 100%;
}